---
import Layout from "../../layouts/Layout.astro";
import ArticleCard from "../../components/Cards/ArticleCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import SearchForm from "../../components/SearchForm.astro";
import Pagination from "../../components/Pagination.astro";
import { ARTICLES_PER_PAGE } from "../../data/constants";

const currentPage: number | null = +Astro.url.searchParams.get("page")! || 1;

const allBlogPosts: CollectionEntry<"blog">[] = (
	await await getCollection("blog")
).sort(
	(a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
		b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf(),
);

const totalPages: number = Math.ceil(allBlogPosts.length / ARTICLES_PER_PAGE);

const articlesForPage: CollectionEntry<"blog">[] = allBlogPosts.slice(
	(currentPage - 1) * ARTICLES_PER_PAGE,
	currentPage * ARTICLES_PER_PAGE,
);
---

<Layout title="Articles">
	<section class="container mx-auto max-w-screen-xl mt-10 px-8 mb-8">
		<h1 class="text-2xl pb-3">Feed your Soul and Mind</h1>
		<SearchForm />
		<!-- Main Grid -->
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
			<!-- Article Card -->
			{articlesForPage.map((article) => <ArticleCard article={article} />)}
		</div>

		<!-- Pagination -->
		<Pagination currentPage={currentPage} totalPages={totalPages} />
	</section>
</Layout>
