---
import { TEAM_TEXT } from "../../data/constants";
import { getCollection, type CollectionEntry } from "astro:content";
import TeamCardWide from "../Cards/TeamCardWide.astro";

const team: CollectionEntry<"team">[] = await getCollection("team");
// console.log(team);

// const team: CollectionEntry<"team">[] = await getCollection('team', ({ data }) => {
//   return data.name !== "Ms Sibongile Mokoraki";
// });

// const { teamMembers } = Astro.props;

// interface Props {
// 	teamMembers: CollectionEntry<"team">[];
// }
---

<section class="bg-green-100 dark:bg-green-900 mt-32">
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
		<div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
			<h2
				class="mb-4 text-4xl tracking-tight font-extrabold text-green-900 dark:text-white"
			>
				Our Team
			</h2>
			<p
				class="font-light text-green-500 lg:mb-16 sm:text-xl dark:text-green-400"
			>
				{TEAM_TEXT}
			</p>
		</div>
		<div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
			{team.map((member) => <TeamCardWide member={member} />)}
		</div>
	</div>
</section>
