---
import { type CollectionEntry, getCollection } from "astro:content";
import { VISSIONXL } from "../../data/constants";
const values: CollectionEntry<"values">[] = await getCollection("values");
---

<div class="mx-auto max-w-7xl px-6 sm:mt-40 lg:px-8">
	<div class="mx-auto max-w-2xl lg:mx-0">
		<h2 class="text-3xl font-bold tracking-tight text-green-900 sm:text-4xl">
			Our values
		</h2>
		<p class="mt-6 text-lg leading-8 text-green-600">
			{VISSIONXL}
		</p>
	</div>
	<dl
		class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3"
	>
		{
			values.map((value) => (
				<div>
					<dt class="font-semibold text-green-900">{value.data.name}</dt>
					<dd class="mt-1 text-green-600">{value.data.description}</dd>
				</div>
			))
		}
	</dl>
</div>
