---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Values from "../components/about/Values.astro";
import Mission from "../components/about/Mission.astro";
import Partners from "../components/about/Partners.astro";
import Team from "../components/about/Team.astro";
import Hero from "../components/about/Hero.astro";
import teamImage from "../images/about/team001.jpg";
---

<Layout>
	<!-- Header -->
	<main class="isolate bg-green-100 pb-10">
		<!-- Hero section -->
		<Hero />

		<!-- Partners -->
		<Partners />

		<!-- Content section -->
		<Mission />

		<!-- Image section -->
		<div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-7xl xl:px-8">
			<Image
				src={teamImage}
				alt=""
				class="aspect-[5/2] w-full object-cover xl:rounded-3xl"
			/>
		</div>

		<!-- Values section -->
		<Values />

		<!-- Team section -->
		<Team />

		<!-- Blog section -->
	</main>
</Layout>
