---
import Layout from "../../../layouts/Layout.astro";
import ArticleCard from "../../../components/Cards/ArticleCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BackToArticles from "../../../components/ui/BackToArticles.astro";

const { tag } = Astro.params;

const allBlogPosts: CollectionEntry<"blog">[] = (
	await getCollection("blog")
).sort(
	(a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
		b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf(),
);

const tagArticles = tag
	? allBlogPosts.filter((article) => article.data.tags.includes(tag))
	: [];
---

<Layout title="Articles">
	<section class="container mx-auto max-w-screen-xl mt-10 px-8 mb-8">
		<BackToArticles />
		<h1 class="text-2xl pb-3 uppercase">{tag}</h1>
		<!-- Main Grid -->
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
			<!-- Article Card -->

			{
				tagArticles.map((article) => (
					<>
						<ArticleCard article={article} />
					</>
				))
			}
		</div>

		<!-- Pagination -->
		<!-- <Pagination /> -->
	</section>
</Layout>
