---
import { type CollectionEntry, getCollection } from "astro:content";
import { ADDRESS, SITE_TITLE } from "../data/constants";
import AddressCard from "../components/Cards/AddressCard.astro";

const allContacts: CollectionEntry<"contact">[] =
	await await getCollection("contact");
---

<section class="bg-green-100 dark:bg-gray-900">
	<div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
		<div
			class="grid grid-cols-1 gap-6 text-center sm:gap-16 sm:grid-cols-2 lg:grid-cols-3"
		>
			{allContacts.map((contact) => <AddressCard contact={contact} />)}
		</div>
	</div>
</section>
