---
// import { initFlowbite } from "flowbite";

import { SITE_TITLE, SITE_DESCRIPTION } from "../data/constants";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

// initFlowbite;

const { title = "Rapha Wellness Centre" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={SITE_DESCRIPTION} />
		{title === "Rapha Wellness Centre" && <title>{title}</title>}
		{
			title !== "Rapha Wellness Centre" && (
				<title>
					{SITE_TITLE} - {title}
				</title>
			)
		}
	</head>
	<body class="w-full">
		<Navbar />

		<!-- <section class="container mx-auto max-w-screen-xl mt-10 px-8"> -->
		<slot />
		<!-- </section> -->

		<Footer />
		<!-- <script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
		></script> -->
		<!-- Initialize Flowbite on the client side only -->
		 <!-- <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script> -->
		<script is:inline>
			// Wait for the document to be ready
			document.addEventListener('DOMContentLoaded', function() {
				// Import Flowbite dynamically
				import('flowbite');
			});
		</script>
	</body>
</html>

<!-- <script>
	import "flowbite";
</script> -->
